<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">

<head>

</head>

<body>

<div layout:fragment="content">

    <style type="text/css">

        .row-actions
        {
            visibility: hidden;
        }

        .user-row:hover .row-actions
        {
            visibility: visible;
        }

    </style>


    <div class="container" id="table-container" th:if="${ loggedUser.administrator }" >

        <div class="row">

            <div class="col-offset-1 col-lg-10">

                <!-- HEADERS AND SELECT FILE BUTTON -->

                <div>
                    <h1 class='pull-left' style="margin-top:0">Import Tickets</h1>
                    <button type="button" class="btn btn-primary btn-lg pull-right" style="font-size: 16px; margin-left: 10px">Select file</button>
                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="tableVisibility()" style="font-size: 16px">Change Sheet</button>
                </div>


                <div class="ibox float-e-margins">

                    <div class="ibox-content" id="single-ticket-table">

                        <!-- HEADERS TABLE -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Ticket Number</th>
                                    <th>Product</th>
                                    <th>Period</th>
                                </tr>
                            </thead>
                        </table>

                    </div>


                    <div class="ibox-content" id="bundle-ticket-table" style="display: none">

                        <!-- HEADERS TABLE -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Bundle Number</th>
                                <th>Ticket Number</th>
                                <th>Product</th>
                                <th>Period</th>
                            </tr>
                            </thead>
                        </table>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- NOT ADMINISTRATOR -->
    <div th:if="${ ! loggedUser.administrator }" class="">

        <div class="alert alert-warning">
            <h1> You do not have Administration rights!</h1><br />
            <a href="index.html" th:href="@{/dashboard/home}" class="btn btn-primary m-t">Dashboard</a>
        </div>

    </div>

</div>

<div layout:fragment="footerScripts"  >

    <script src="../../../WebContent/resources/js/app/user-administration.js"			th:src="@{/resources/js/app/user-administration.js?v=1.1}"	></script>

    <script>

        var basePath = '[[@{/}]]';

        initializeEvents(basePath);

        function tableVisibility() {


            if (document.getElementById("single-ticket-table").style.display === "none") {
                document.getElementById("single-ticket-table").style.display = "block";
                document.getElementById("bundle-ticket-table").style.display = "none";
            }
            else {
                document.getElementById("single-ticket-table").style.display = "none";
                document.getElementById("bundle-ticket-table").style.display = "block";
            }
        }

    </script>


</div>

</body>

</html>