<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">

<head>

</head>

<body>

<div layout:fragment="content">

    <style type="text/css">

        .row-actions
        {
            visibility: hidden;
        }

        .user-row:hover .row-actions
        {
            visibility: visible;
        }

        #periods option { color: black; }
        .empty { color: white; }


    </style>


    <div class="container" id="table-container" th:if="${ loggedUser.administrator }" >

        <div class="row">

            <div class="col-offset-1 col-lg-10">

                <!-- HEADERS AND SELECT FILE BUTTON -->

                <div>
                    <h1 class='pull-left' style="margin-top:0">Import Tickets</h1>

                    <input type="file" name="uploadfile" id="ticketfile" style="display:none;"/>
                    <label for="ticketfile" class="btn btn-primary btn-lg pull-right" style="font-size: 16px; margin-left: 10px">Select file</label>


                    <button type="button" class="btn btn-primary btn-lg pull-right" onclick="tableVisibility()" style="font-size: 16px">Change Sheet</button>

                    <div class="period-dropdown">
                        <select id="periods" class="btn btn-primary btn-lg pull-right" style="font-size: 15px; margin-right: 10px">
                            <option value="0" class="btn btn-primary btn-sm" style="background: white;">Select Period</option>
                            <option value="1" class="btn btn-primary btn-sm" style="background: white; text-align: center">2019</option>
                            <option value="2" class="btn btn-primary btn-sm" style="background: white">2020</option>
                            <option value="3" class="btn btn-primary btn-sm" style="background: white">2021</option>
                            <option value="4" class="btn btn-primary btn-sm" style="background: white">2022</option>
                            <option value="5" class="btn btn-primary btn-sm" style="background: white">2023</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg pull-right" style="font-size: 16px; margin-right: 10px">Confirm</button>

                </div>

                <div class="ibox float-e-margins">

                    <div class="ibox-content" id="single-ticket-table">
                        <!-- <h1 th:text="${ticketList.size()}"></h1> -->

                        <!-- HEADERS TABLE -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <!-- <th>Id</th> -->
                                    <th>Ticket Number</th>
                                    <th>Product</th>
                                    <th>Period</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr th:each="ticket : ${ticketList}">

                                    <!-- <td th:text="${ticket.getIdTicketNumbers()}"></td> -->
                                    <td th:text="${ticket.getIdTicketNumbers()}"></td>
                                    <td th:text="${ticket.getIdProduct()}"></td>
                                    <td th:text="${ticket.getIdProduct()}"></td>
                                </tr>

                            </tbody>


                        </table>

                    </div>


                    <div class="ibox-content" id="bundle-ticket-table" style="display: none">

                        <!-- HEADERS TABLE -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Bundle Number</th>
                                    <th>Ticket Number</th>
                                    <th>Product</th>
                                    <th>Period</th>
                                </tr>
                            </thead>

                        </table>

                    </div>

                </div>
            </div>

        </div>

    </div>


    <!-- NOT ADMINISTRATOR -->
    <div th:if="${ ! loggedUser.administrator }" class="">

        <div class="alert alert-warning">
            <h1> You do not have Administration rights!</h1><br />
            <a href="index.html" th:href="@{/dashboard/home}" class="btn btn-primary m-t">Dashboard</a>
        </div>

    </div>

</div>

<div layout:fragment="footerScripts"  >

    <script src="../../../WebContent/resources/js/app/user-administration.js"			th:src="@{/resources/js/app/user-administration.js?v=1.1}"	></script>

    <script>

        var basePath = '[[@{/}]]';

        initializeEvents(basePath);

        function tableVisibility() {


            if (document.getElementById("single-ticket-table").style.display === "none") {
                document.getElementById("single-ticket-table").style.display = "block";
                document.getElementById("bundle-ticket-table").style.display = "none";
            }
            else {
                document.getElementById("single-ticket-table").style.display = "none";
                document.getElementById("bundle-ticket-table").style.display = "block";
            }
        }

        // Change Period Dropdown styles
        $("#periods").change(function () {
            if($(this).val() == "0") $(this).addClass("empty");
            else $(this).removeClass("empty")
        });
        $("#periods").change();


    </script>


</div>

</body>

</html>