<div class="row" xmlns:th="http://www.thymeleaf.org">
	<div class="col-lg-12">
	    <div class="contact-box center-version">	        
	        <div class="contact-box-footer">
	        	
	        	<div class="row">
	        		<div class="col col-sm-3">
	        			<b>Created By:</b>
	        		</div>	        		
	        		<div class="col col-sm-3" th:text="${ ticketDetail.createdBy }">
	        			John Doe
	        		</div>	        		
	        		<div class="col col-sm-3">
	        			<b>Created On:</b>
	        		</div>	        		
	        		<div class="col col-sm-3" th:text="${#dates.format(ticketDetail.creationDate, 'MM/dd/yyyy HH:mm')}" >
	        			John Doe
	        		</div>	        		
	  			</div>
	        	<div class="row">
		        	<div class="col col-sm-3">
		        			<b>Week Number:</b>
	        		</div>	        		
	        		<div class="col col-sm-3" th:text="${ ticketDetail.weekNumber }">
	        			999
	        		</div>	
	        	</div>
	        	
	  			<div class="row">
	        		<div class="col col-sm-12">
	        			<b>Memo:</b>
	        		</div>	        		
	        		<div class="col col-sm-12" th:text="${ ticketDetail.memo != null && ticketDetail.memo != '' ? ticketDetail.memo : '**Empty**' }">
	        			MEMO
	        		</div>	        		
	        	</div>
	        	
	        	
	        	<div class="row" th:if="${ ! ticketDetail.active }">
	        		<div class="col col-sm-12">
	        			<b>Inactivated By</b>
	        		</div>	        		
	        		<div class="col col-sm-12" th:text="${ ticketDetail.modifiedBy }">
	        			John Doe
	        		</div>	        		
	        	</div>
	        	
	        	
	        	
	            <div th:if="${false}" class="m-t-xs btn-group">
	                <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
	                <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
	                <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
	            </div>
	            
	        </div>
	
	    </div>
	</div>
</div>